@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');




:root {
    /* dark shades of primary color*/
    --clr-primary-1: #0a97b0;
    --clr-primary-2: white;
 
  }

* {
    margin: 0px;
    padding: 0px;
}


.container {
    height: 100vh;
    width: 100vw;
}

nav {
    margin-left: 5px;
    background: black;
    color: white;
    height: 5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.phone-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    
}

.envelope-link {
    color:white;
    text-decoration: none;
    font-size: 2rem;
}

.map-marker-link {
    color:white;
    text-decoration: none;
    font-size: 2rem;
}


.fa-phone {
    color:var(--clr-primary-1);
    font-size: 2rem;
}


.fa-envelope {
    color:var(--clr-primary-1);
    font-size: 2rem;
}

.fa-map-marker {
    color:var(--clr-primary-1);
    font-size: 2rem;
}

/*site Nav Bar */


.site-nav-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 10vh;
    width: 100vw;
    align-content:start;
    display:inline;    
    background-color: blue;
}

.brand {
    background: var(--clr-primary-2);
    text-transform: capitalize;
    font-size: 3rem;
    align-self: center;

}
.nav-links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-transform: uppercase;
    font-size: 2rem;
    width: 1500px;
    justify-self: end;
    margin:0px auto;
    padding:0px;
    width: 100vw;
    
}

.nav-links a {
    text-decoration: none;
    color: var(--clr-primary-1);

}

.nav-links li {
    list-style: none;
}

.body-image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}