
.container {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
}


.box1 {
    background-color:blue;
    color:white;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    
}


.box2 {
    background-color:blue;
    color:white;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    
    
}

.box3 {
    background-color:blue;
    color:white;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    
}